<div class="container">
  <p style="font-size: 22px;">
    Карточка записи
  </p>
  <div class="row">
    <div class="col-md-4">
      <%= @card.original_text %>
    </div>
    <div class="col-md-4">
      <%= @card.translated_text %>
    </div>
    <div class="col-md-4">
      <%= @card.review_date %>
    </div>		  
  </div>
</div>
