/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

 #container {
  margin: 48px auto;
  width: 960px;
}

#container > section {
  clear: both;
}

#container > header {
  margin-bottom: 46px;
}

#container > header > h1 {
  float: left;
  margin: 0;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;


  display: flex;

  -webkit-flex-flow: row;
  justify-content: space-around;
}



.flex-item-originaltext {

  display: inline-block;
  margin: 5px 0;
  flex-grow: 3;
  text-align: center;
  width: 20%;
}

.flex-item-translatedtext {

  display: inline-block;
  margin: 5px 0;
  flex-grow: 3;
  text-align: center;
  width: 65%;
}

.flex-item-other {

  display: inline-block;
  margin: 5px 0;
  flex-grow: 3;
  text-align: center;
  width: 15%;
}

.Grid-cell:nth-child(2n+1) {
  background: #ffe6e6;
}

.navigation-links {
  float: right;
}

.navigation-links li {
  display: inline-block;
  margin: 0 16px;
}

.col-md-3 {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.col-md-2 {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.col-md-1 {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}



/* MISC */

.clearfix:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;} html[xmlns].clearfix{display:block;} * html .clearfix{height:1%;}

